@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  /* banner part */

  .banner{
    max-width: 1060px;
    background-color: #000000;
    margin: 57px 190px 0 190px;
  }
  .banner-first{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner-second{
    display: flex;
  }
  .banner-content{
    width: 600px;
  }
  .img-banner{
    width: 350px;
    height: 580px;
  }
  .navbar{
    display: flex;
  }
  .nav-item{
    list-style: none;
    margin: 30px;
  }
  .nav-link{
    text-decoration: none;
  }
  /* section part */
  .section-title{
    font-size: 3rem;
    color: #FFFFFF;
  }
  .section-description, .img-description{
    font-size: 1rem;
    color: #FFFFFF;
  }
  /* second section */
  .second-section{
    background-color: #222222;
    border-radius: 18px;
  }

  /*  */
  .img-title{
    font-size: 1rem;
    color: #FFFFFF;
  }
  .img-container{
  }
  .img-2nd-sec{
    border-radius: 50%;
  }
  .img-flex{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .img-content{
    width: 300px;
    height: 250px;
    border-radius: 18px;
  }
  .second-section{
    display: flex;
  }

  .img-first{
    display: flex;
    /* grid-template-columns: repeat(4, 1fr); */
  }
  .img-run{
    object-fit: none;
    object-position: 66% 33%;
    height: 20rem;
    width: 22rem;
    border-radius: 18px;
  }
  
  /* challenge part */
  .challenge-section{
    display: flex;
  }

  /* footer- section */
  footer-container{

  }

  .footer-section{
    display: flex;
  }
  .footer-title{
    font-size:2rem;
    font-weight: 700;
    color: #FFFFFF;
  }
  .footer-description{
    font-size:1.2rem;
    color: #FFFFFF;
  }
  .footer-first{
    max-width: 443px;
    margin-right: 102px;
  }
  .footer-second, .footer-third{
    max-width: 181px;
  }
  .footer-second{
    margin-right: 152px;
  }
  .footer-last{
    text-align: center;
  }